<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    <title>Shaheed Hospital Database</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/shortcutico.jpg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="google-site-verification" content="3fLok05gk5gGtWd_VSXbSSSH27F2kr1QqcxYz9vYq2k" />
    <style>
    #RedBar { border: 3px solid red }
    #GreenBar{border: 3px solid green}
    #hr{border:2px solid blue}
</style>
    <div class="container" >
         <div class="nav-bar" class="pull-left">
             <a class="pull-left" href="#" >
                 <img src="{{ url_for('static',filename='images/logo1.svg') }}">
             </a>
         </div>
        <div class="nav-bar" class="pull-right">
             <a class="pull-right" href="#" >
                 <img src="{{ url_for('static',filename='images/contact.png') }}">
             </a>
         </div>
     </div>
    <div class="row" id="RedBar" ></div>
 <div class="row" id="GreenBar"></div>


    <div class="container-fluid">
        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            नाम : {{i[1]}}

            <br>
            <br>

            पिता या माता का नाम  : {{i[2]}}

            <br>
            <br>

            शिक्षा : {{i[3]}}

            <br>
            <br>

            उम्र: {{i[4]}}

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            स्त्री या पुरूस:  {{i[5]}}

            <br>
            <br>

            स्थान  :  {{i[6]}}
             <br>
            <br>

            Phone Number : {{i[7]}}

             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            दिनांक : {{i[8]}}

             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            समय : {{i[9]}} &nbsp;{{i[10]}}

            <br>
            <br>
            <br>

            <div>

        </div>




    <div class="container-fluid">






        <div class="col-lg-3">
            <br>
        <br>
        <br>
        <br>
        <br>



            weight : <textarea name="weight" cols="10" rows="1"></textarea>
            <br>

            <br>
            temperature : <textarea name="temp" cols="10" rows="1"></textarea>

            <br>
            <br>

            pulse : <textarea name="pulse" cols="10" rows="1"></textarea>

            <br>
            <br>

            bp : <textarea name="bp" cols="10" rows="1"></textarea>

            <br>
            <br>
            <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>




            </div>


        <div class="col-lg-7">
            <div class="jumbotron">
            <h2>Doctor Prescription</h2>
            <br>

            <div id="hr"></div>
                </div>

            <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        </div>




        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>





        </div>








        </div></div>