<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block body %}
<br>
<br>
<div class="container">
    <div class="jumbotron">
        <text class="header"><em><b> CREATE A NEW ACCOUNT </b></em> </text>
        <br>
        <br>
        {% from "_formhelpers.html" import render_field %}
		<form method="post" action='/signedup/'>
			<dl>
				{{render_field(form.username)}}
				{{render_field(form.email)}}
				{{render_field(form.password)}}
				{{render_field(form.confirm)}}
				{{render_field(form.Designation)}}
                {{render_field(form.PhNumber)}}
			</dl>
		  <button type="submit" class="btn btn-info center-block" >Sign up</button>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

    </div>
</div>
{% endblock %}