<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block body %}
<br>
<br>
<div class="container">
    <div class="jumbotron">
        <text class="header"><em><b> CREATE A NEW ACCOUNT </b></em> </text>
        <br>
        <br>


        <form role="form">
            <div class="form-group">
                <label > Name </label>
                <textarea class="form-control" id="Name" rows="1" cols="2" placeholder="Enter your name "></textarea>
            </div>
            <div class="form-group">
                <label> Email address
                   <textarea class="form-control" id="email" rows="1" cols="120px" placeholder="Enter your email"></textarea>
                </label>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <textarea class="form-control" id="pwd" rows="1" cols="100px" placeholder="Password" ></textarea>
            </div>
            <div class="form-group">
                <label > Designation </label>
                  <textarea class="form-control" id="designation" rows="1" cols="100px" placeholder="Designation"></textarea>

            </div>
            <div class="form-group">
                <label >Phone number</label>
                <textarea class="form-control" id="pno" rows="1" cols="100px" placeholder="Phone number"></textarea>
            </div>

         <button type="submit" class="btn btn-info center-block" >Sign up</button>

        </form>
    </div>
</div>
{% endblock %}